# backend-api puede llamar a backend-data
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-api-to-data
spec:
  podSelector:
    matchLabels:
      app: backend-api
  policyTypes:
    - Egress
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: backend-data
      ports:
        - protocol: TCP
          port: 8081
---
# backend-data puede llamar a mongodb
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-data-to-db
spec:
  podSelector:
    matchLabels:
      app: backend-data
  policyTypes:
    - Egress
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: mongodb
      ports:
        - protocol: TCP
          port: 27017
---
# (opcional) curlpod o pods temporales pueden salir al namespace
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-test-tools
spec:
  podSelector:
    matchLabels:
      run: curlpod
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector: {}
